# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# -------------------------
# Virtual Environment
# -------------------------
venv/
.env/

# -------------------------
# Docker
# -------------------------
*.pid

# -------------------------
# OS / Editor
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -------------------------
# Redis data (if any)
# -------------------------
dump.rdb

# -------------------------
# Screenshots & videos (optional)
# -------------------------
screenshots/
video/
