version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis-cache
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: cache-api
    ports:
      - "8000:8000"
    depends_on:
      - redis
